<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <% msg.each do |m| %>
        <div class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          <%= m %>
        </div>
      <% end %>

    <% end %>
    <%= render 'layouts/navigation_bar' %>
    <%= yield %>
  </body>
</html>
